---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About who?";

const identity = {
  firstName: "Jake",
  country: "USA",
  occupation: "Designer",
  hobbies: ["photography", "birdwatching", "gardening"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Illustration"];

const skillColor = "#f3f3f3";
const fontWeight = '300';
const textCase = 'lowercase';

---
<BaseLayout pageTitle={pageTitle}>

<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
<style define:vars={{skillColor, fontWeight, textCase}}>

  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var( --textCase);
  }
</style>
</BaseLayout>