---
import '../styles/global.css';

const pageTitle = "About who?";

const identity = {
  firstName: "Jake",
  country: "USA",
  occupation: "Designer",
  hobbies: ["photography", "birdwatching", "gardening"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Illustration"];

const happy = false;
const finished = true;
const goal = 3;

const skillColor = "blue";
const fontWeight = '300';
const textCase = 'lowercase';

---

<body>
  <a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<h1>{pageTitle}</h1>
<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
<style define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: #321aea;
    font-size: 3rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var( --textCase);
  }
</style>
</body>