---
const pageTitle = "Blog"
---
<body>
  <a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

  <h1>{pageTitle}</h1>
  <h2>Things to write about...</h2>

  <ul>
    <li><a href="/posts/post-1/">Hello World</a></li>
    <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
  </ul>
</body>